@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

html,
body {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  background-color: var(--tg-theme-secondary-bg-color);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
